---
- hosts: all
  tasks:
#============WinRM firewall======================  
  - name: Firewall rule winrm TCP port 5985 /1
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-1
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 46.229.208.26
      state: present
      enabled: yes

  - name: Firewall rule winrm TCP port 5985 /2  
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-2
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 109.71.180.178
      state: present
      enabled: yes

  - name: Firewall rule winrm TCP port 5985 /3
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-3
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 81.17.60.23
      state: present
      enabled: yes      

  - name: Firewall rule winrm TCP port 5985 /4
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-4
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 209.58.180.182
      state: present
      enabled: yes

  - name: Firewall rule winrm TCP port 5985 /5
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-5
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 5.79.70.74
      state: present
      enabled: yes

  - name: Firewall rule winrm TCP port 5985 /6
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)-6
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 34.202.190.113
      state: present
      enabled: yes 

  - name: Firewall rule winrm TCP port 5985
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: any
      state: present
      enabled: no

  - name: Firewall rule winrm TCP port 5985
    win_firewall_rule:
      name: Windows Remote Management (HTTP-In)
      localport: 5985
      action: allow
      direction: in
      protocol: tcp
      profiles: private, domain
      remoteip: any
      state: present
      enabled: no

  - name: Zabbix port tcp
    win_firewall_rule:
      name: Zabbix TCP
      localport: 10050
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 18.132.138.32
      state: present
      enabled: yes

  - name: Zabbix port udp
    win_firewall_rule:
      name: Zabbix UDP
      localport: 10050
      action: allow
      direction: in
      protocol: udp
      profiles: domain,private,public
      remoteip: 18.132.138.32
      state: present
      enabled: yes

#===============RDP firewall=========================

  - name: Remote Desktop - User Mode (TCP-In) /1
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-1
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 46.229.208.26
      state: present
      enabled: yes

  - name: Remote Desktop - User Mode (UDP-In) /1
    win_firewall_rule:
      name: Remote Desktop - User Mode (UDP-In)-1
      localport: 3389
      action: allow
      direction: in
      protocol: udp
      remoteip: 46.229.208.26
      state: present
      enabled: yes
  
  - name: Remote Desktop - User Mode (TCP-In) /2  
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-2
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 109.71.180.178
      state: present
      enabled: yes

  - name: Remote Desktop - User Mode (UDP-In) /2  
    win_firewall_rule:
      name: Remote Desktop - User Mode (UDP-In)-2
      localport: 3389
      action: allow
      direction: in
      protocol: udp
      remoteip: 109.71.180.178
      state: present
      enabled: yes   

  - name: Remote Desktop - User Mode (TCP-In) /3  
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-3
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 5.79.70.74
      state: present
      enabled: yes

  - name: Remote Desktop - User Mode (TCP-In) /4  
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-4
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 81.17.60.23
      state: present
      enabled: yes
  
  - name: Remote Desktop - User Mode (TCP-In) /5  
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-5
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 209.58.180.182
      state: present
      enabled: yes  

  - name: Remote Desktop - User Mode (TCP-In) /6  
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)-6
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      remoteip: 34.202.190.113
      state: present
      enabled: yes

  - name: Remote Desktop - User Mode (TCP-In)
    win_firewall_rule:
      name: Remote Desktop - User Mode (TCP-In)
      localport: 3389
      action: allow
      direction: in
      protocol: tcp
      state: present
      enabled: no

  - name: Remote Desktop - User Mode (UDP-In)
    win_firewall_rule:
      name: Remote Desktop - User Mode (UDP-In)
      localport: 3389
      action: allow
      direction: in
      protocol: udp
      state: present
      enabled: no

#=================User&script============================
  - name: Create local user
    win_user:
      name: Tteam
      password: 'kj79HK802Nmml~#4k90mfjde'
      groups: Administrators
      update_password: always
      password_never_expires: yes
      state: present
  
  - name: Copy a single file keeping the filename
    win_copy:
      src: ~/Ansible/scripts/Tteam-winrm.ps1
      dest: C:\
  
  - win_shell: C:\Tteam-winrm.ps1
 
  - name: Remove a file, if present
    win_file:
      path: C:\Tteam-winrm.ps1
      state: absent

  - win_shell: New-ItemProperty -Path HKLM:Software\Microsoft\Windows\CurrentVersion\policies\system -Name EnableLUA -PropertyType DWord -Value 0 -Force

#=============Choco Install==============================

  - name: Install choco
    win_chocolatey:
      name: chocolatey
      state: latest

#===========Zabbix Install===============================

  - name: Install zabbix-agent useing choco
    win_chocolatey:
      name: zabbix-agent
      state: reinstalled

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: stopped

  - name: Copy prepared zabbix_agentd.conf
    win_copy:
      src: ~/Ansible/scripts/zabbix_agentd.conf
      dest: C:\ProgramData\zabbix

  - name: Copy prepared zabbix_agentd.psk
    win_copy:
      src: ~/Ansible/scripts/zabbix_agentd.psk
      dest: C:\ProgramData\zabbix

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: started

#=============Hide file=====================================

  - name: File hidden attribute
    win_shell: (get-item C:\zabbix_agentd.log).Attributes += 'Hidden'

#=============Reboot PC=====================================

#  - name: Reboot the machine
#    win_reboot:
