---
- hosts: all

  tasks:

  - name: Install zabbix-agent useing choco
    win_chocolatey:
      name: zabbix-agent
      state: reinstalled

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: stopped

  - name: Copy prepared zabbix_agentd.conf
    win_copy:
      src: ~/Ansible/scripts/zabbix_agentd.conf
      dest: C:\ProgramData\zabbix

  - name: Copy prepared zabbix_agentd.psk
    win_copy:
      src: ~/Ansible/scripts/zabbix_agentd.psk
      dest: C:\ProgramData\zabbix

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: started
    