---
- hosts: all
  tasks:  

  - name: Zabbix port tcp
    win_firewall_rule:
      name: Zabbix TCP
      localport: 10050
      action: allow
      direction: in
      protocol: tcp
      profiles: domain,private,public
      remoteip: 18.132.138.32
      state: present
      enabled: yes

  - name: Zabbix port udp
    win_firewall_rule:
      name: Zabbix UDP
      localport: 10050
      action: allow
      direction: in
      protocol: udp
      profiles: domain,private,public
      remoteip: 18.132.138.32
      state: present
      enabled: yes

  - name: Copy prepared zabbix_agentd.conf
    win_copy:
      src: /home/exor/Ansible/aws/zabbix_agentd.conf
      dest: C:\ProgramData\zabbix

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: restarted