---
- hosts: all

  tasks:
  - name: Install zabbix-agent useing choco
    win_shell: choco install zabbix-agent
    ignore_errors : yes
    #register: result
  #- debug:
      #var: result.stdout_lines
  tasks:
  - name: Install zabbix-agent useing choco
    win_chocolatey:
      name: zabbix-agent
      state: reinstalled

  - name: Copy prepared zabbix_agentd.conf
    win_copy:
      src: /home/alex/Ansible/scripts/zabbix_agentd.conf
      dest: C:\ProgramData\zabbix

  - name: Copy prepared zabbix_agentd.psk
    win_copy:
      src: /home/alex/Ansible/scripts/zabbix_agentd.psk
      dest: C:\ProgramData\zabbix

  - name: Restart a Zabbix Agent service
    win_service:
      name: Zabbix Agent
      state: restarted
    